#map {
    position: absolute;
    top: calc(100%-100px);
    bottom: 60px;
    z-index: 2;
    width: 100%;
  }
  
  
  .os-logo {
    position: absolute;
    display: block;
    height: 150px;
    width: 200px;
    left: 10px;
    bottom: 10px;
    text-indent: -9999px;
    z-index: 99999;
    overflow: hidden;
  
    /* `background-image` contains the Mapbox logo */
    background-image: url('https://raw.githubusercontent.com/OrdnanceSurvey/os-api-branding/4604a642bda5dc3c5e600f4cb095aa8a0934dc05/img/os-logo-maps.svg');
    background-repeat: no-repeat;
    background-position: 10 0;
    background-size: 150px 200px;
  }
